<h1>Dice Game </h1>
<p>
Here are the rules:</br>
Roll the dice to start the game.</br>
If your first roll is a 7 or 11, you win.</br>
If your first roll is a 2, 3 or 12, you lose.</br>
Anything else becomes your point. Roll your point again before a 7 and you win.
</p>
<%= form_tag :action=> 'play' do %>
<%= submit_tag "Play"%>
<% end %>
